* {
    margin: 0px;
    padding: 0px;
  }
  
  .main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: relative; */
  }
  
  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
  }
  
  
  
  /* rgba - pour l'effet noir */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
  }
  
  h1 {
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 80px;
    margin-bottom: 25px;
  }
  
  h2 {

    color: white;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  